table {
	font-size: 120%;
	border:  2px #873256;
	border-collapse: collapse;
	padding: 10px;
	font-family: berdana;
    text-align: left;
    width: 100%;
}
td, th{
    border: 1px solid #000066;
    text-align: left;
    padding: 10px;
    }
tr:nth-child(even) {
  background-color: #000066;
    }
ul{
   margin:0;
   padding:0;
   font-size:100%;
   list-style-type:none;
   overflow:hidden;
}
li{
   float:left;
 }
li a{
   text-decoration:none;
   text-align:center;
   padding:16px;
   color:white;
 
}    